.header {
  min-height: 948px;

  background-image: url("../img/bg.png");
  background-position: center center;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 40px 0;
  }

  &__logo-link {
    margin-right: 13px;
  }

  &__logo-img {
  }

  &__descr {
    position: relative;

    max-width: 155px;
    margin-right: 65px;
    padding-left: 15px;

    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    color: rgba(115, 115, 115, .8);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 5px;
      height: 5px;

      background-color: #c4c4c4;
      border-radius: 3px;
      transform: translateY(-50%);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    margin-right: 71px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__menu-link {
    font-weight: 600;
    line-height: 30px;
    color: #363636;
  }

  &__contact {
    margin-right: 40px;

    text-align: right;
  }

  &__contact-phone {
    position: relative;

    padding-left: 37px;

    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    font-family: "Trajan Pro 3";
    color: var(--text-color);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 23px;
      height: 23px;

      background-image: url("../img/svg/phone.svg");
      transform: translateY(-50%);
      filter: drop-shadow(1px 6px 21px rgba(255, 212, 8, .7));
    }
  }

  &__contact-info {
    display: block;

    font-size: 12px;
    line-height: 30px;
    color: rgba(115, 115, 115, .5);
  }

  &__menu-btn {
    min-width: 190px;
    padding: 19px 13px 17px 13px;

    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: var(--text-color);

    background-color: transparent;
    border: 2px solid var(--btn-color);
    border-radius: 6px;
    cursor: pointer;
  }

  &__content {
  }

  &__conditions-box {
    margin-bottom: 15px;
  }

  &__conditions-item {
    position: relative;

    padding-left: 21px;

    line-height: 21px;
    color: rgba(0, 0, 0, .8);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 13px;
      height: 13px;

      background-image: url("../img/yellow-point.png");
      transform: translateY(-50%);
    }

    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  &__title {
    max-width: 620px;
    margin-bottom: 15px;

    font-weight: 600;
    font-size: 35px;
    line-height: 55px;
    font-family: "Trajan Pro 3";
    color: var(--text-color);
  }

  &__subtitle {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Trajan Pro 3";
    color: rgba(var(--text-color), .6);
  }

  &__advantages-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 610px;
    margin-bottom: 40px;
  }

  &__advantages-item {
    position: relative;

    padding-top: 50px;

    line-height: 21px;
    color: var(--text-color);

    &:not(:last-child) {
      margin-right: 43px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__advantages-item--man {
    &::before {
      width: 39px;
      height: 39px;

      background-image: url("../img/svg/law-man.svg");
    }
  }

  &__advantages-item--num {
    &::before {
      width: 50px;
      height: 34px;

      background-image: url("../img/svg/twenty.svg");
    }
  }

  &__advantages-item--hummer {
    &::before {
      width: 39px;
      height: 39px;

      background-image: url("../img/svg/hummer.svg");
    }
  }

  &__content-wrapper {
    max-width: 590px;
    padding: 12px;

    background-color: var(--default-color);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .04);
  }

  &__form {
    padding: 25px;

    background-color: var(--default-color);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .04);
  }

  &__form-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);

    span {
      font-weight: 400;
    }
  }

  &__form-input-name {
    display: block;
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 19px;
    text-align: left;
    color: rgba(var(--text-color), .6);
  }

  &__form-input {
    max-width: 238px;
    margin-right: 24px;
    padding: 20px 30px 20px 45px;

    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: rgba(51, 51, 51, .8);

    border: 2px solid rgba(#ffd408, .6);
    border-radius: 6px;
    outline: rgba(#ffd408, .6);

    &::placeholder {
      // margin-left: -10px;
      background-image: url("../img/svg/phone-small.svg");
      background-repeat: no-repeat;
    }
  }

  &__form-btn {
    position: relative;

    padding: 20px 38px;

    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: var(--text-color);

    background: linear-gradient(356.02deg, #ffd408 3.36%, #ffdf46 96.87%);
    border-radius: 6px;
    box-shadow: inset 0 0 6px 1px #ffed00;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      z-index: -10;

      width: 100%;
      height: 100%;

      background: #efcb1f;
      border-radius: 6px;
      box-shadow: 0 16px 68px 2px rgba(255, 212, 8, .25);
    }
  }

  &__form-accept {
    display: flex;
    align-items: center;
    padding-top: 30px;

    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: rgba(#313131, .4);
  }

  &__form-checkbox {
    position: absolute;

    width: 1px;
    height: 1px;
    overflow: hidden;

    clip: rect(0 0 0 0);
  }

  &__form-checkbox-style {
    position: relative;

    width: 15px;
    height: 15px;
    margin-right: 5px;

    border: 1px solid rgba(#ffd408, .6);
    border-radius: 2px;
  }

  &__form-checkbox:checked + .header__form-checkbox-style::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;

    width: 10px;
    height: 10px;

    background-image: url("../img/svg/check.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &__form-accept-link {
    color: rgba(#313131, .4);
    text-decoration: underline;
  }
}
